/** {
    text-align: center;
}*/
.heading {
    font-family: Arial;
    /*margin-top:40vh;*/
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:100%;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
	margin-top: 50px;

}
.URL-input:focus {
    border:2px solid #1c7010;
}
.convert-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #368f2a;
    background: #1c7010;
    color:white;
	margin-top: 50px;
}

.float-container {
    /*border: 3px solid #fff;*/
    padding: 20px;
}

.float-child {
    width: 30%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}  